#splash {
  width: 100%;
  height: auto;
  max-height:400px;
  overflow: hidden;
  object-fit: cover;
}

#name {
  background: rgba(0,0,0,.35);
  color: rgba(255,255,255, .9);
  font-size: 30px;
  padding-left: 60px;
  padding-top: 22px;
  padding-bottom: 22px;
  position:relative;
  margin-top: -82px;
}

[md-fab] {
  float:right;
  margin-top: -30px;
  right: 3%;
  cursor: pointer;
}

#edit-form {
  margin:60px;
}

md-card-title {
  font-size: 24px;
}

md-card {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
}

button {
  margin-top:15px;
}

#splash-buttons {
  position: absolute;
  right: 34px;
  top: 35%;
}

#splash-buttons md-icon {
  color: rgba(255, 255, 255, .8);
  font-size: 28px;
}

#splash-buttons .button {
  display: inline-block;
  margin-left:5px;
  cursor: pointer;
}

#splash-buttons .button.active md-icon {
  color: #9c27b0;
}

#splash-scroll {
  background: #333;
}

#splash-options {
  margin:0;
  overflow-x: scroll;
  padding: 2px;
  white-space: nowrap;

}

#splash-options .splash-option {
  cursor: pointer;
  display: inline;
}

#splash-options .splash-option img {
  height: 100px;
  cursor: pointer;
  border: 2px solid #222;
}
